<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="normal/base::layout(~{::section})">


<head>

<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title th:text="${title}"></title>




</head>

<body>
	<section>
	
		<div class="register">
		<h1 class="text-center">Update Contact Details</h1>
					<br><br>
							<form action="" th:action="@{/user/updateContactRecord}" method="POST" 
							enctype="multipart/form-data"
							th:object="${contact}" >
							<div class="row ">
								<div class="col-md-6">
								
									<div class="form-group">
									
										<input type="text" class="form-control"
											placeholder="Name " 
											name="contactName"
											value="" 
											required="required"
											th:value="${contact.contactName}"
											/>
									</div>
									<div class="form-group">
										<input type="email" class="form-control"
										placeholder="contactEmail" 
											name="contactEmail"
											 value="" 
											required="required"
											 th:value="${contact.contactEmail}"
											 />
									</div>
									<div class="form-group">
										<input type="text" class="form-control"
											placeholder="contactWork"
											name="contactWork"
											value="" 
											required="required"
											th:value="${contact.contactWork}"
											/>
									</div>
				<div class="form-group form-control-lg">
    <label for="exampleFormControlFile1">Profile picture</label>
    <input type="file" class="form-control-file" id="exampleFormControlFile1"
	
    name="profilePic">
  </div>
									
					</div>
					<div class="col-md-6">
					<div class="form-group">
					<input type="text" class="form-control"
					name="contactNickName"
					placeholder="Nick name" value="" 
											required="required"
					th:value="${contact.contactNickName}"
					/>
					</div>
					<div class="form-group">
					<input type="text" minlength="10" maxlength="10"
					name="contactNumber" class="form-control"
					placeholder="Your Phone " value=""
											required="required"
					th:value="${contact.contactNumber}"
					 />
					</div>
					<div class="form-group">
    
   				 <textarea class="form-control" id="exampleFormControlTextarea1" 
   			 		name="contactDesc"
   			 		rows="3" placeholder="Description" 
											required="required"
   			 		th:text="${contact.contactDesc}"
   			 		>
   			 		</textarea>
  					</div>
	
			<input type="submit" class="btnRegister " value="Update" />
			<input type="hidden" id="cId" name="cId" value=""
			th:value="${session.cId}">
			</div>
			</div>
			
			
			</form>
						
			
			
		</div>
		<script >
		$(document).ready(()=>{
			$(".item").removeClass("active");
			$("#update-link").addClass("active");
			
		});
		
		
		</script>
	</section>
</body>

</html>
	